<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 ">
             <span class = "skillset "><b>Programming Languages:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
            <span>Java, JavaScript (ES5 & ES6), Shell Scripting (Bash)  </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <span class = "skillset"><b>Web Technologies:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
              <span>Node, Spring Boot/MVC, Maven, REST, Nginx, Apache Tomcat, HTML, CSS</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
              <span class = "skillset"><b>Database & ORM:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
              <span>Dynamo DB, AWS RDS, MySQL, MongoDB, JDBC, Hibernate, JPA, Redis</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
              <span class = "skillset"><b>DevOps/ Cloud Tools:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
              <span>AWS, CloudFormation, Docker, Kubernetes, Jenkins, CI/CD</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
              <span class = "skillset"><b>Testing Framework & OS:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
              <span>Mocha, JUnit, MacOS, Windows, Linux (Ubuntu)</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
              <span class = "skillset"><b>IDEs & Tools:</b></span>
          </div>
          <div class="col-md-8 skillVal ">
              <span>IntelliJ, WebStorm, VS Code, Git, GitHub, Postman, Swagger, Jira, Confluence</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>