<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Summary
              </div>
              <p>Hi, My name is <strong>Divya Taneja</strong>  
                .I am technology enthusiast, passionate about delivering reliable and scalable software solutions. 
                 I have proven expertise in Software / Full stack web development, micro-services, server-less computing and cloud applications. 
                 I joined back academia as a full time graduate student with some professional experience.
                 <p>
                 I have coding background in Java, Javascript, Node , JS Frameworks -React and Angular, Database - SQL/NoSQL, cloud applications, system design.
                </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">dtaneja089@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 781-827-9397</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Boston, Massachusetts
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Hindi</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Current Status:</strong>
                </div>
                <div class="col-sm-8">Graduate Student @Northeastern university</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>