

<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2020</p>
              <div class="h5">Master Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master Degree</div>
               <h4 class="category">Northeastern University
               </h4>
               <ul>
                <li>Currently enrolled in STEM graduate program - Computer Information Systems
                </li>
                <li>Graduate Teaching Assistant for <b>"Enterprise Web Developent in Java"</b> course
                </li>
                <li>
                  Completed 8 months of internship as a full stack developer during graduate program
               </li>
                <li>
                    According to current Transcript, my running GPA is <b>3.82</b> 
                </li>
               
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007 - 2011</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Mahrishi Dayanand University
               </h4>
               <ul>
                <li> Completed B.E in Electronics & Communication degree with Honors</li>
                 <li>Won scholarship award from university for excellent academic performance.</li>
                 <li>Consistently ranked among top 5 students in batch of 800 students</li>
                 <li>Undertaken extra-curricular responsibilities such as organizing
                  various cultural and technical events</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>