<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/aws.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Billing & Invoicing Web Services - AWS Deployment</h4>
          <h5 class="card-text"><b>Technology :</b> Node JS, AWS EC2, Dynamo DB, RDS </h5>

          <a href="https://github.com/taneja09/AWSEC2-WebAPP" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/packer.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Amazon Machine Image - Automation</h4>
           <h5 class="card-text"><b>Technology :</b> Hashicorp Packer, Shell Script(Bash) </h5>
    
          <a href="https://github.com/taneja09/AMIAutomation-HashiCorpPacker" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/elastic.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Big-Data Indexing - Elastic Search</h4>
          <h5 class="card-text"><b>Technology :</b> Spring Boot - Java, Redis, Elasticsearch, Kibana </h5>
          <a href="https://github.com/taneja09/BigData-ElasticSearch" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/serverless.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Serverless Computing - AWS Lambda</h4>
           <h5 class="card-text"><b>Technology :</b> AWS Lambda, S3, Node JS, CloudWatch </h5>
          <a href="https://github.com/taneja09/AWSLambda-Serverless" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/cf.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">AWS Cloud Infrastructure - Automation</h4>
           <h5 class="card-text"><b>Technology :</b> Cloud Formation, Terraform, Shell Scripting</h5>
          <a href="https://github.com/taneja09/AWS-ResourceAutomation" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/sql.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Retail Pharmacy Management System</h4>
           <h5 class="card-text"><b>Technology :</b> MySQL, DB Design, ER Modeling </h5>
          <a href="https://github.com/taneja09/DBDesigning-SQL" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
  </div>